[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Try (jiahaoChen)
[access "refs/for/refs/*"]
	read = group user/Try (jiahaoChen)
	push = group user/Try (jiahaoChen)
	label-Code-Review = -2..+2 group user/Try (jiahaoChen)
	label-Verified = -1..+1 group user/Try (jiahaoChen)
	rebase = group user/Try (jiahaoChen)
	removeReviewer = group user/Try (jiahaoChen)
	submit = group user/Try (jiahaoChen)
[access "refs/heads/*"]
	read = group user/Try (jiahaoChen)
	create = group user/Try (jiahaoChen)
	push = +force group user/Try (jiahaoChen)
	pushMerge = group user/Try (jiahaoChen)
[receive]
	requireContributorAgreement = true
[access "refs/tags/*"]
	push = +force group user/Try (jiahaoChen)
	pushTag = group user/Try (jiahaoChen)
	pushSignedTag = group user/Try (jiahaoChen)
[submit]
	action = fast forward only
	mergeContent = false
